
/* Global */

    $color-one: #ddd;
    $color-two: #EA2027;
    $font-main: 'Montserrat', sans-serif;
    
    
    
    
    *, *::before, *::after {
	
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* HERO + NAV */
    
    .hero {
        width: 100%;
        height: 100vh;
        background-image: url("https://images.pexels.com/photos/454507/pexels-photo-454507.jpeg?cs=srgb&dl=pexels-mateusz-dach-454507.jpg&fm=jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 45px 8% 0;
    }
    
    .logo {
        font-size: 20px;
        font-family:'Permanent Marker', cursive;
        color:$color-one;
        letter-spacing: 3px;
        cursor: pointer;
    }
    
    .logo span  {
        color:$color-two;
    }
    
    
    nav ul li {
        display: inline-block;
        list-style-type: none;
        padding: 10px 25px ;
    }
    
    nav ul li a {
        text-decoration: none;
        color: $color-one;
        font-size: 20px;
        font-family: $font-main;
        letter-spacing: 1px;
        padding-bottom: 5px;
        cursor: pointer;
    }
    
    nav ul li a:hover {
        color: $color-two;
        transition: 0.3s linear;
    }
    
    .btn {
        background-color:$color-two;
        color: $color-one;
        border: 2px solid transparent;
        padding: 10px 25px ;
        font-weight: bold;
        text-decoration: none;
        font-size: 24px;
        border-radius: 30px;
        letter-spacing: 1px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .btn:hover {
        background-color: $color-one;
        color: $color-two;
        transition: 0.3s;
        transform: scale(1.2);
    }
    
    /* HEADER */
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 40px;
        padding-bottom: 90px;
    }
    
     h1.introduce {
        font-size: 75px;
        color: var$color-one;
        font-family: $font-main;
        letter-spacing: 1px;
        margin: 20px 0 20px;
     }
    
     h3.introduce {
        font-size: 25px;
        color: var$color-one;
        margin-bottom: 50px;
     }
    
     h4.introduce {
        color: $color-one;
        font-size: 20px;
        letter-spacing: 3px;
     }
    
     .newsletter form {
        width: 380px;
        max-width: 100%;
        position: relative;
        cursor: pointer;
     }
     
     .newsletter form input:first-child {
        width: 100%;
        padding: 14px 130px 14px 15px;
        display: inline-block;
        border: 2px solid $color-two;
        outline: none;
        border-radius: 30px;
        cursor: pointer;
     }
    
     .newsletter form input:last-child {
        padding: 10px 30px;
        border: none;
        outline: none;
        display: inline-block;
        position: absolute;
        background-color: $color-two;
        color: $color-one;
        border-radius: 30px;
        top: 6px;
        right: 6px;
        box-shadow: 0px 0px 3px 2px rgba(234, 32, 39,1.0);
        cursor: pointer;
     }
    
     /* ABOUET_ME*/
    
     section.about-me {
        width: 100%;
        background-color:rgba(1,1,1,0.7);
        padding: 100px 0;
     }
    
     .about-me img {
        height: auto;
        width: 430px;
     }
    
     .container {
        display: flex;
        gap: 3rem;
        padding: 0 100px;
    
     }
    
     .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: rgba(1,1,1,0.2);
     }
    
    .about-text {
        font-family: $font-main;
        letter-spacing: 1px;
        color:$color-one;
    }
    
     .about-text p {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px; 
    }
    
     .about-text h3 {
        font-size:  40px;
        margin-bottom: 30px;
    }
    
    .about-text h5 {
        font-size:  30px;
        margin-bottom: 30px;
    }
     
    /* SERVICES*/
    
    section.services {
        width: 100%;
        padding: 100px 0;
        background-image: url("https://images.pexels.com/photos/1422286/pexels-photo-1422286.jpeg?cs=srgb&dl=pexels-%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D0%B0%D1%80-%D1%86%D0%B2%D0%B5%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%9B-1422286.jpg&fm=jpg");
        background-position: center;
        background-size: cover;
    }
    
    .container-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6rem;
        padding: 0 100px;
    }
    
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .wrapper {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        align-items: center;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.5);
        padding: 20px 5px 40px;
        border-radius: 20px;
        color: $color-one;
        text-align: center;
        font-family: $font-main;
        letter-spacing: 1px; 
    }
    
    .box h3 {
        font-size: 30px;
    }
    
    .box i {
        font-size: 42px;
        background: rgba(234, 32, 39, 1.0);
        line-height: 70px;
        border-radius: 50%;
        width: 70px;
        cursor: pointer;
        text-align: center;
        color: $color-one;
    
    }
    
    .box i:hover {
        color: $color-two;
        background: $color-one;
        transition: 0.4s linear;
    }
    
    .title {
        border-radius: 20px;
        color: $color-one;
        background-color:rgba(0, 0, 0, 0.5);
        align-self: center;
        padding: 30px 20px;
    }
    
    .title h1 {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    /*SKILLS*/
    
    .skills {
        width: 100%;
        background-color:rgba(1,1,1,0.7);
        padding: 100px 100px;
        font-family: $font-main;
    }
    
    .container-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    
     .wrapper-skills {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 3rem 3rem;
        flex-wrap: wrap;
        padding-top: 20px;
     }
    
    .skill img {
        height: auto;
        width: 100%;
        height: 400px;
        object-fit: cover;
     }
    
     .skill {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        align-content: center;
     }
    
     .skills-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
     }
    
     .title-skills-h1 {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-one;
        font-size: 40px;
     }
    
     .title-skills-h3 {
        color: $color-one;
        font-size: 22px;
        padding-bottom: 50px;
     }
    
     .title-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
     }
    
      /*FOOTER*/
    
      footer {
        background-color:rgba(1,1,1,0.7);
      }
    
     .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
    
     footer ul li {
        display: inline-block;
        list-style-type: none;
        padding: 10px 0 ;
    }
    
    footer ul li a {
        text-decoration: none;
        color: var$color-one;
        font-size: 20px;
        font-family: $font-main;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    .footer-ul i {
        font-size: 29px;
        cursor: pointer;
        text-align: center;
        background-color: transparent;
        line-height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    
    .footer-ul i:hover {
        background-color: $color-two;
        line-height: 60px;
        width: 60px;
        border-radius: 50%;
        transition: 0.4s linear;
    }
    
    .footer-subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-one;
        font-size: 16px;
        padding-bottom: 20px;
    }
    
    .footer-subtitle i {
        font-size: 16px;
    }
    
    /*MEDIA */
    
    @media (max-width: 767px) {
        
    
        nav {
            flex-direction: column;
            justify-content: center;
            padding-bottom: 50px
        }
    
        nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        nav ul li {
            flex-basis: 40%;
        }
        
        header {
            align-items: center;
            padding-left:2px; 
            text-align: center;
        }
    
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            padding-bottom: 10px;
        }
    
        .container img {
            width: 90%;
        }
    
        .about-text {
            padding-bottom: 10px;
        }
    
        .container-services {
            padding: 2px;
        }
    
        .wrapper {
            flex-direction: column;
            justify-content: space-around;
        }
    
        .skills {
            padding: 20px 0;
        }
    
        .wrapper-skills {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .skill {
            width: 300px;
        }
    
        .title-skills {
            text-align: center;
            padding-top: 30px;
        }
    }